<div class="comments-list" *ngIf="commnts.length">
    <table class="blogTable" [mfData]="commnts" #mf="mfDataTable" [mfRowsOnPage]="5">
        <thead>
            <tr>
                <th style="width: 50%">
                  <mfDefaultSorter by="createdAt">sort by Date</mfDefaultSorter>

                </th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let item of mf.data">
                <td class="bodypost">
                    <p class="namePost">{{item.displayName}}</p>
                    <p class="datePost">  {{item.createdAt | date: 'dd/MM/yyyy'}}</p>
                    <p class="messagePost">  {{item.message}}</p>
                </td>
                <!-- <td class="datePost"><i class="date">{{item.createdAt | date: 'dd/MM/yyyy'}} </i></td> -->

            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td>
                    <mfBootstrapPaginator class="paginator" [rowsOnPageSet]="[1,3,5]"></mfBootstrapPaginator>
                </td>
            </tr>
        </tfoot>
    </table>
</div>
